{% extends 'base.html' %}
{% block title %}
   Welcome to Arya's Shoping Cart
{% endblock %}

{% block content %}
   <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-dark" style="color:white">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
         <h1 class="display-4 font-weight-normal">Students Education </h1>
         <p class="lead font-weight-normal">Start Registering clicking the link below</p>
         <a href="{{ url_for('course_page') }}" class="btn btn-primary">Get Started</a>
      </div>
   
   </div>
{% endblock %}